
.tag {
    display: inline-block;
    position: relative;
    background-color: white;
    min-width: 90px;
    margin: 10px 20px;
    font-size: 18px;

    &:after {
        content: "";
        display: block;
        margin: 0 auto;
        width: 0;
        padding-top: 5px;
        border-bottom: 2px solid black;
        transition: 0.3s;
    }

    &:hover:after {
        width: 100%;
    }
}

.label {
    cursor: pointer;
}


.checkbox {
    margin: 0;
    margin-right: 10px;
}

